<section id="portfolio">
  <div class="container">
    <div class="row">
      <ul class="portfolio-filter text-center">
        <li><a class="btn btn-default active" href="#" data-filter="*">All</a></li>
        <li><a class="btn btn-default" href="#" data-filter=".react">React and Redux</a></li>
        <li><a class="btn btn-default" href="#" data-filter=".angular">AngularJs</a></li>
        <li><a class="btn btn-default" href="#" data-filter=".android">Android</a></li>
        <li><a class="btn btn-default" href="#" data-filter=".node">Node</a></li>
        <li><a class="btn btn-default" href="#" data-filter=".ocean">Ocean</a></li>
      </ul>
      <!--/#portfolio-filter-->

      <div class="portfolio-items">
        <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item react logos">
          <div class="repo">
            <div class="repo-header React">
              <h2 class="repo-title">
                <a href="https://rajatsharma305.github.io/lambdamorpher/" target="_blank">Lambdamorpher</a></h2>
              <h3 class="repo-language React"> React-Redux </h3>
            </div>
            <p class="repo-description">
              Convert Functions to ES6 Arrow Notations and back
            </p>
            <p class="devicons">
              <a href="https://github.com/rajatsharma305/lambdamorpher" target="_blank"><i class="devicon-github-plain colored"></i></a>
            </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item angular logos">
          <div class="repo">
            <div class="repo-header Angular">
              <h2 class="repo-title">
                  <a href="http://rdpinator.rajatsharma.rocks/">rdpinator</a> </h2>
              <h3 class="repo-language Angular"> AngularJs </h3>
            </div>
            <p class="repo-description">
              The Application shows the use of RDP algorithm for the simplification of vector graphics and cartographic generalization
            </p>
            <p class="devicons">
              <a href="https://github.com/rajatsharma305/lambdamorpher" target="_blank"><i class="devicon-github-plain colored"></i></a>
            </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item react logos">
          <div class="repo">
            <div class="repo-header React">
              <h2 class="repo-title">
                    <a href="http://curiosity.generaljs.org/" target="_blank">Curiosity</a> </h2>
              <h3 class="repo-language React"> React-Redux </h3>
            </div>
            <p class="repo-description">
              Public Portal to library of images gathered by NASA's Curiosity rover on Mars.
            </p>
            <p class="devicons">
              <a href="https://github.com/rajatsharma305/curiosity" target="_blank"><i class="devicon-github-plain colored"></i></a>
            </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item react logos">
          <div class="repo">
            <div class="repo-header React">
              <h2 class="repo-title">  <a href="http://faker.generaljs.org/" target="_blank">Faker</a> </h2>
              <h3 class="repo-language React"> React-Redux </h3>
            </div>
            <p class="repo-description">
              Faker helps to create a JSON API from a JSON, just mention your endpoint, enter JSON to serve and hit POST🔥. The json can be accessed from the endpoint anytime, anywhere.⚡️
            </p>
            <p class="devicons">
              <a href="https://github.com/rajatsharma305/faker" target="_blank"><i class="devicon-github-plain colored"></i></a>
            </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item node logos">
          <div class="repo">
            <div class="repo-header Node">
              <h2 class="repo-title">
                      <a href="https://github.com/rajatsharma305/linerunner" target="_blank">Linerunner</a>
                    </h2>
              <h3 class="repo-language Node"> Node </h3>
            </div>
            <p class="repo-description">
              Web Service to run Ramer-Douglas-Peucker Algorithm on GeoJSON
            </p>
            <p class="devicons">
              <a href="https://github.com/rajatsharma305/linerunner" target="_blank"><i class="devicon-github-plain colored"></i></a>
            </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item node logos">
          <div class="repo">
            <div class="repo-header Node">
              <h2 class="repo-title">  <a href="https://github.com/rajatsharma305/linerunner" target="_blank">fakerapi</a> </h2>
              <h3 class="repo-language Node"> Node </h3>
            </div>
            <p class="repo-description">
              Rest API backing faker
            </p>
            <p class="devicons">
              <a href="https://github.com/rajatsharma305/fakerapi" target="_blank"><i class="devicon-github-plain colored"></i></a>
            </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item react logos">
          <div class="repo">
            <div class="repo-header React">
              <h2 class="repo-title">  <a href="https://github.com/rajatsharma305/chimera" target="_blank">Chimera</a> </h2>
              <h3 class="repo-language React"> React-Redux </h3>
            </div>
            <p class="repo-description">
              Megahybrid Hyperscalable Redux Architecture with Generators, Observables and Immutables
            </p>
            <p class="devicons">
              <a href="https://github.com/rajatsharma305/chimera" target="_blank"><i class="devicon-github-plain colored"></i></a>
            </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item react logos">
          <div class="repo">
            <div class="repo-header React">
              <h2 class="repo-title">
                      <a href="https://github.com/rajatsharma305/ronin">ronin</a>
                    </h2>
              <h3 class="repo-language React"> React-Redux </h3>
            </div>
            <p class="repo-description">
              Routeless Redux Boilerplate for true single page applications
            </p>
            <p class="devicons">
              <a href="https://github.com/rajatsharma305/ronin" target="_blank"><i class="devicon-github-plain colored"></i></a>
            </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item android logos">
          <div class="repo">
            <div class="repo-header Android">
              <h2 class="repo-title">  <a href="http://rajatsharma305.github.io/CS101" target="_blank">CS 101</a></h2>
              <h3 class="repo-language Android"> Android </h3>
            </div>
            <p class="repo-description">
              Information on Books related to Computer Science.
            </p>
            <p class="devicons">
              <a href="https://github.com/rajatsharma305/cs101" target="_blank"><i class="devicon-github-plain colored"></i></a>
            </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item angular logos">
          <div class="repo">
            <div class="repo-header Angular">
              <h2 class="repo-title">  <a href="http://tyrannodrake.store.aptoide.com/app/market/com.tyrannodrake.andheri/18/19787452/Andheri">Andheri</a></h2>
              <h3 class="repo-language Angular"> Angular </h3>
            </div>
            <p class="repo-description">
              Information about every Bollywood Movie upcoming or released with its Plot, Rating, Genre, Censor Rating, Release Date, Trailer Video and Youtube Trailer Link.
            </p>
            <p class="devicons">
              <a href="https://github.com/rajatsharma305/andheri" target="_blank"><i class="devicon-github-plain colored"></i></a>
            </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item android logos">
          <div class="repo">
            <div class="repo-header Android">
              <h2 class="repo-title">
                      <a href="http://rajatsharma305.github.io/noGPSLocater/">noGPSLocater</a></h2>
              <h3 class="repo-language Android"> Android </h3>
            </div>
            <p class="repo-description">
              Location Detection and Direction Compass which can be used when no GPS connection is available in Android
            </p>
            <p class="devicons">
              <a href="https://github.com/rajatsharma305/noGPSLocater" target="_blank"><i class="devicon-github-plain colored"></i></a>
            </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 portfolio-item ocean logos">
          <div class="repo">
            <div class="repo-header Ocean">
              <h2 class="repo-title">  <a href="protected.html">Zregex</a></h2>
              <h3 class="repo-language Ocean"> Ocean </h3>
            </div>
            <p class="repo-description">
              Petrel plugin for Time and Depth Data conversion based on Regression Analysis.
            </p>
            <p class="devicons">
              <i class="devicon-cplusplus-plain colored"></i>
              <i class="devicon-csharp-plain colored"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
