<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="images/home/react.png" alt="">
                    </div>
                    <h2>React</h2>
                    <p>Frontend Development - Component Based Designs</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                        <img src="images/home/redux.png" alt="">
                    </div>
                    <h2>Redux</h2>
                    <p>Frontend Development - Immutable State Management</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                        <img src="images/home/nodejs.png" alt="">
                    </div>
                    <h2>NodeJs</h2>
                    <p>Backend Development</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="images/home/angular.png" alt="">
                    </div>
                    <h2>AngularJs</h2>
                    <p>Frontend Development</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                        <img src="images/home/express.png" alt="">
                    </div>
                    <h2>Express</h2>
                    <p>Backend Development - Rest APIs</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                        <img src="images/home/mongo.png" alt="">
                    </div>
                    <h2>MongoDB</h2>
                    <p>Backend Development - Document Based Database</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="images/home/webpack.png" alt="">
                    </div>
                    <h2>Webpack</h2>
                    <p>Frontend Development - Building and Tooling</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                        <img src="images/home/leaflet.png" alt="">
                    </div>
                    <h2>Leaflet</h2>
                    <p>GIS - Javascript based Maps</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                        <img src="images/home/reactive.png" alt="">
                    </div>
                    <h2>RxJs</h2>
                    <p>Frontend Development - Redux Sideffects using Observables</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="images/home/ocean.png" alt="">
                    </div>
                    <h2>SLB Ocean</h2>
                    <p>Plugin for Generating Depth Model from Time Model by Regression Analysis of Time and Depth data in Petrophysical Modeling in Petrel using C# and Ocean API</p>
                </div>
            </div> -->
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="300ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="images/home/android.png" alt="">
                    </div>
                    <h2>Android</h2>
                    <p>Android Application Development with Java and React Native</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="600ms">
                        <img src="images/home/grunt.png" alt="">
                    </div>
                    <h2>GruntJs</h2>
                    <p>Frontend Development - Building and Tooling</p>
                </div>
            </div>
            <div class="col-sm-4 text-center padding wow fadeIn" data-wow-duration="1000ms" data-wow-delay="900ms">
                <div class="single-service">
                    <div class="wow scaleIn" data-wow-duration="500ms" data-wow-delay="900ms">
                        <img src="images/home/d3.png" alt="">
                    </div>
                    <h2>D3</h2>
                    <p>Frontend Development - Data Visualisation</p>
                </div>
            </div>
        </div>
    </div>
</section>
